.card{
    width: 250px;
    height:270px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
label{
    width: max-content;
    color: tomato;
    font-size: 13px;
    border-bottom: 1px solid tomato;
    margin: 8px 0;
}
.description{
    font-size: 14px;
}
.place{
    font-size: 20px;
}
.username{
    font-size: 14px;
    margin-bottom: 10px;
}
.star{
    color: gold;
    font-size: 18px;

}
.date{
    font-size: 12px;
    font-weight: 700;
    margin-left: auto;
}
form{
    width: 250px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
}
input,textarea{
    border: none;
    border-bottom: 1px solid gray;
}

input::placeholder, textarea::placeholder{
    font-size: 12px;
    font-weight: 300;
}
input:focus, textarea:focus{
    outline: none;
}
.submitButton{
    width: 100%;
    border: none;
    padding: 5px;
    border-radius: 5px;
    color: white;
    background-color: tomato;
    cursor: pointer;
}
button{
    border: none;
    padding: 5px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}
.logout{
    background-color: tomato;
}
.login{
    background-color: teal;
}
.register{
    background-color: slateblue;
}
.buttons, .logout {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1000;
    display: flex;
    gap: 10px;
}